* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Roboto", sans-serif;
}
h3 {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("./img//cool-background.png");
  background-size: cover;
  background-attachment: fixed;
}

#page-wrap {
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

li {
  list-style: none;
  margin-bottom: 2rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

li:hover {
  text-decoration-line: overline;
  cursor: pointer;
  color: #e52885;
}
/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 2rem;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #e52885;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #e52885;
}

/* General sidebar styles */
.bm-menu {
  width: 20rem;
  background: #373a47;
  padding: 2.5em 3em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*Container*/
.container {
  width: 100%;
  margin: 0 auto;
}
/*Home Component*/

.home-container {
  width: 100%;
  height: 100vh;
  background-color: #141518;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0 0 0 60%;
  box-shadow: 3px 3px 3px 3px gray;
}

.home-elements {
  width: 60rem;
  margin: 0 auto;
  text-align: center;
}

/*About Component*/
.about-wrapper {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
}

.about-container {
  width: 60rem;
  height: 40rem;
  margin: 0 auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about-personal-details {
  width: 60rem;
  height: 30rem;
  display: flex;
  flex-direction: row;
}
.about {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
}
.about-me {
  width: 30rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.about-me img {
  width: 12rem;
  height: 15rem;
  border: 3px solid gray;
  border-radius: 1rem;
}

.about-me span {
  position: absolute;
  border-radius: 1rem;
  z-index: -1;
  right: 9.5rem;
  top: 0.5rem;
  width: 12rem;
  height: 15rem;
  border: 3px solid #e52885;
}

.about-me-text {
  width: 30rem;
  height: 15rem;
}

.personal-details {
  width: 30rem;
}

.personal-details p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
.personal-details span {
  position: absolute;
  right: 0;
  color: #5e5e5e;
  font-weight: 500;
}

.personal-details i {
  color: #e52885;
  margin-bottom: 1rem;
}

.personal-details p {
  font-size: 1.2rem;
}

/*Article Effect*/
.home-elements h3 {
  /*  leverage cascade for cross-browser gradients  */
  background: radial-gradient(hsl(100 100% 60%), hsl(200 100% 60%)) fixed;
  background: conic-gradient(
      hsl(100 100% 60%),
      hsl(200 100% 60%),
      hsl(100 100% 60%)
    )
    fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/*Home Animated Effect*/
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0 0 0 60%;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/*Skills Component*/

.skills-wrapper {
  width: 100%;
  height: 30rem;
  background: radial-gradient(
    circle,
    rgba(74, 75, 73, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
}

.skills-wrapper h1 {
  font-family: "Open Sans-bold", sans-serif;
}

.skills-container {
  width: 60rem;
  height: 20rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container i {
  margin-top: 0.3rem;
  font-size: 3.4rem;
  color: white;
  text-align: center;
}

.main-skills {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: 5rem 5rem 5rem 5rem;
  grid-template-rows: 5rem 5rem;
}

.main-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-skills div {
  margin-right: 2rem;
}

.additional-skills {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: 5rem 5rem 5rem 5rem;
  grid-template-rows: 5rem 5rem;
}

.additional-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.additional-skills div {
  margin-right: 2rem;
}
.additional-skills i {
  margin-top: 0.3rem;
  font-size: 3.4rem;
  color: white;
  text-align: center;
}

/*Projects Slider Component*/

.projects-wrapper {
  width: 100%;
  height: 60rem;
  position: relative;
}

.slider-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 40rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px 3px gray;
}

.slider-container h1 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}
.slider-container img {
  border: 1px solid white;
  width: 60rem;
}

.project {
  width: 60rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*Contact Form Component*/

.contact-wrapper {
  width: 100%;
  height: 30rem;
  background: radial-gradient(
    circle,
    rgba(74, 75, 73, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
}

.contact-container {
  width: 60rem;
  height: 20rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container input {
  margin-bottom: 2rem;
}

form {
  width: 30rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form i {
  color: #e52885;
}

label {
  display: inline-block;
  width: 7rem;
  margin-right: 1rem;
  text-align: right;
  font-size: 1.2rem;
}

input,
textarea {
  font: 1em sans-serif;

  width: 20rem;
  height: 2rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
  max-height: 10rem;
  resize: vertical;
}

.certification button {
  cursor: pointer;
  margin-top: 1.5rem;
  border: none;
  width: 12rem;
  height: 3.5rem;
  background: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  border-radius: 1rem;
  color: white;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
}

.certification button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;

  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
}

/*Modal*/
.modal {
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 1rem;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal span {
  position: absolute;
  left: 1rem;
  font-size: 3rem;
  cursor: pointer;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*Break Point-반응형*/
@media screen and (max-width: 1020px) {
  .home-container {
    width: 100%;
  }
  .home-elements {
    width: 20rem;
  }
  .home-elements span {
    font-size: 4rem;
  }

  .home-elements h1,
  h3 {
    font-size: 3rem;
  }

  /*About Component*/
  .about-wrapper {
    height: 70rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about {
    width: 30rem;
  }

  .about-container {
    width: 30rem;
    position: absolute;
    top: 5rem;
  }
  .about-personal-details {
    width: 30rem;
    display: inline-block;
    margin: 0 auto;
  }

  /*Skills Component*/
  .skills-container {
    width: 30rem;
    margin: 0 auto;
  }

  .additional-skills {
    margin-top: 3rem;
  }

  /*Projects Component*/
  .slider-container {
    width: 30rem;
  }

  .slider-container h3 {
    font-size: 1.2rem;
  }

  .slider-container h1 {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
  }

  .slider-container img {
    border: 1px solid white;
    width: 30rem;
  }

  .project {
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  /*Contact Component*/
  .contact-container {
    width: 30rem;
  }
}

@media screen and (max-width: 540px) {
  .home-container {
    width: 100%;
  }
  .home-elements {
    width: 20rem;
  }
  .home-elements span {
    font-size: 4rem;
  }

  .home-elements h1,
  h3 {
    font-size: 4rem;
  }
  /*About Component*/

  .about-container {
    width: 20rem;
    position: absolute;
    top: 5rem;
  }
  .personal-details {
    width: 20rem;
  }
  .about-me-text {
    width: 20rem;
  }
  .about-personal-details {
    width: 20rem;
  }
  .about-me {
    width: 20rem;
  }

  .about {
    width: 20rem;
  }
  .about-me span {
    left: 3.5rem;
  }
  /*Skills Component*/
  .skills-wrapper {
    height: 50rem;
  }
  .skills-container {
    width: 20rem;
  }
  .main-skills {
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem;
  }

  .additional-skills {
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem;
  }

  /*Projects Component*/
  .slider-container {
    width: 20rem;
  }

  .slider-container h3 {
    font-size: 1.2rem;
  }

  .slider-container h1 {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
  }

  .slider-container img {
    border: 1px solid white;
    width: 20rem;
  }

  .project {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  /*Contact Component*/
  .contact-wrapper {
    height: 35rem;
  }
  .contact-container {
    width: 15rem;
    height: 25rem;
  }
  label {
    color: white;
  }
}

@media screen and (max-width: 400px) {
  .home-elements {
    width: 15rem;
  }
  .home-elements span {
    font-size: 2.5rem;
  }

  .home-elements h1,
  h3 {
    font-size: 2.5rem;
  }
  .skills-wrapper {
    height: 50rem;
  }
  .main-skills {
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem;
  }

  .additional-skills {
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem;
  }
}
